.container {
  height: 220px;
  width:100%;
  margin: 0px;
  position: absolute; 
  /*border: 3px solid green;*/
  background-color: rgb(253, 207, 0);
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vertical-center {
  margin: 0;
  position: static;
  top: 50%;
  /*-ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
}

.horizontal-center {
  margin: 0;
  position: static;
  left: 50%;
  text-align: center;
  /*-ms-transform: translateY(-50%);
  transform: translateY(-50%);*/
}
